.home {
  color: rgb(181, 100, 100);
  font-size: 40px;
}
.css-module {
  color: goldenrod;
}
.count {
  color: yellowgreen;
}
// :global {
//   .title {
//     color: orange;
//   }
// }

.png {
  background-image: url('@/assets/images/nocall.png');
}

// todo...
.custom-styles {
  color: red !important;
  font-size: 20px !important;
  font-weight: bold !important;
}

.testBg {
  width: 200px;
  height: 200px;

  background-color: orange;
  // 背景图x y轴的偏移
  background-position: 20px 50px;
  background-image: url('@/assets/images/nocall.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
