@import '@/assets/styles/base.scss';
@import '@/assets/styles/common.scss';

:global {
  #root::before {
    content: '';
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    pointer-events: none;
  }
  // 似乎明白了为啥修改antd组件为啥要加:global
  .testMaskMustBeGlobal {
    padding-right: 5px;
  }
}
